<h1><%= @category.name %></h1>
<% if @posts.each do |post| %>
  <h3><%= link_to post.title , post %></h3>
  <p><%= post.body %></p>
<% end.empty? %>
<p>Sorry, there are no any post</p>

<% end %>
<%= link_to "Back to category", categories_path %>
